.saludar-container {
    .saludo {
        color: lightblue;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .creditos {
        color: lightgray;
        font-size: 12px;
        margin-top: 10px;
    }
}