.LayoutBasic {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .LayoutBasic-logo {
    height: 40vmin;
    pointer-events: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .LayoutBasic-logo {
      animation: LayoutBasic-logo-spin infinite 20s linear;
    }
  }

  .LayoutBasic-header {
    color: lightblue;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .LayoutBasic-content {
    color: lightgray;
    font-size: 14px;
  }
  .LayoutBasic-footer {
    color: lightgray;
    font-size: 12px;
    margin-top: 10px;
  }

  .LayoutBasic-link {
    color: #61dafb;
  }

  @keyframes LayoutBasic-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
